{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Corotation</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/crawler.css' %}">
  </head>

  <body>
    <section>
      {% block content %}

      {% endblock %}
    </section>
  </body>
</html>
